{{>layout/header}}  <!--현재 머스테치 파일 기준으로 다른파일 불러옴-->

    <h1>Wap 2조</h1>
    <div class=col-md-12">
        <div class="row">
            <div class=""col-md-6">
                <a href="/posts/save" role="button" class=""btn btn-primary">글 등록</a>
            </div>
        </div>
    </div>
{{>layout/footer}}

